:root {
  --bg: #f5f7fa;
  --text: #222;
  --subtext: #555;
  --card: #f9fafb;
  --primary: #0077cc;
  --gradient: linear-gradient(to right, #0077cc, #00b4db);
}

body.dark {
  --bg: #0f172a;
  --text: #e5e7eb;
  --subtext: #9ca3af;
  --card: #1e293b;
  --primary: #38dbf8;
  --gradient: linear-gradient(to right, #38dbf8, #0ea5e9);
}

body{
  fomt-family: "Segoe UI", sans-serif;
  background: var(--bg);
  color: var(--text);
  margin: 0;
}

.hero{
  text-align: center;
  padding: 80px 20px;
}

.badge{
  background: #e0f2ff;
  color: var(--primary);
  padding: 6px 14px;
  border-radius: 20px;
  fonr-size: 14px;
}

h1 {
  font-size: 48px;
  margin: 20px 0 10px;
  color: var(--subtext);
}

h3 {
  font-weight: 400;
  color: var(--subtext);
}

p {
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
  color: var(--subtext);
}
  
.buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  margin: 0 10px;
  border: 1px solid var(--primary);
  color: var(--primary);
}
  
